@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,800;1,100;1,800&family=Calligraffitti&family=Dosis:wght@200;300;400;500;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: "Calligraffitti", sans-serif;
}
body {
}
.header {
  padding: 2rem 10rem;
  background-color: #f5761a;
}
.header .top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-size: 5rem;
  color: white;
  transform: rotate(20deg);
  animation: rotate 2s infinite linear alternate-reverse;
}
.header .top-bar ul {
  list-style: none;
}
.header .top-bar li a {
  text-decoration: none;
  color: white;
  font-size: 3rem;
  letter-spacing: 0.5rem;
  font-weight: 800;
  text-transform: capitalize;
  display: flex;
  align-items: center;
}
.header .top-bar li a i {
  align-self: flex-end;
}
.search-container {
  width: 70%;
  margin: 0 auto;
}
.search-container form .search-input {
  padding: 1.5rem 1rem;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 1rem;
  font-size: 2.5rem;
  color: gray;
}
.form-group {
  position: relative;
  /* xaxis, yaxis, radius, color */
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
}
.search-container form button {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 7rem;
  border: none;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  background-color: #5f2902;
  color: white;
  font-size: 2rem;
  cursor: pointer;
}
.result-container {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5rem;
  /* background-color: #5f2902; */
  padding: 4rem 10rem;
  margin: 0 auto;
}
.drink-card {
  width: 100%;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
  border-radius: 2rem;
  overflow: hidden;
  cursor: pointer;
  opacity: 0.7;
  transition: opacity 0.5s;
  transform: scale(0.9);
}
.drink-card:hover {
  opacity: 1;
  transform: scale(1);
}
.drink-card img {
  width: 100%;
  object-fit: cover;
}
.drink-card .img-container img {
  width: 100%;
}
.drink-card h3 {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  font-style: italic;
  padding: 1rem;
}
.popup-container {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  perspective: 1000px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.6s;
  z-index: 1;
}
.popup-container.show {
  opacity: 1;
  visibility: visible;
}
.popup {
  margin-top: 2rem;
  font-size: 2rem;
  background: linear-gradient(
    135deg,
    #ff00d2,
    #fed90f,
    #00a2ff,
    #09f1b8,
    #ff00d2,
    #fed90f,
    #00a2ff,
    #09f1b8
  );
  width: 70rem;
  height: 63rem;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.5);
  border-radius: 1.5rem;
  transition: all 0.5s 0.7s;

  display: grid;
  grid-template-rows: 10rem 10rem 10rem 10rem 10rem;
  grid-template-columns: 10rem 10rem 10rem 10rem 10rem;
  cursor: pointer;
}
.popup-img {
  margin-top: 2rem;
  margin-left: 2rem;
  grid-area: 1 / 1 / 5 / 4;
  border-radius: 3rem;
  width: 40rem;
  height: 40rem;
}
.popup-title {
  grid-area: 1 / 5 / 2 / 7;
  font-size: 3.5rem;
  margin-left: 3rem;
  margin-top: 7rem;
  text-shadow: black 12px -24px 20px, teal -10px 22px 18px;
}
.popup-title:hover {
  font-weight: bolder;
}
.popup-ingredient {
  margin-top: 4rem;
  grid-area: 2 / 5 / 3 / 7;
  font-size: 2.5rem;
  padding: 5rem;
  font-weight: bold;
  margin-right: 6rem;
}
ol {
  grid-area: 3 / 5 / 4 / 7;
  font-size: 2rem;
  margin-left: 9rem;
  margin-top: 3rem;
}
ol:hover {
  font-size: 2.5rem;
  font-weight: bold;
  color: rgb(111, 4, 4);
}
div.popup ol#ingredients-list {
  list-style: none;
  padding: 0;
  font-size: 1rem;
}
div.popup ol#ingredients-list {
  padding: 1rem;
  border: #f5761a solid;
  font-size: 1rem;
}
.popup-description {
  grid-area: 5 / 1 / 6 / 7;
  font-size: 1.7rem;
  color: rgb(65, 2, 2);
  margin-left: 2rem;
  margin-top: 3.5rem;
  padding: 2rem;
}
.popup-description:hover {
  font-weight: bold;
  color: rgb(5, 5, 71);
}

/* .popup:hover {
  transform: translate(-50%, -50%) scale(1) rotateY(0deg);
} */
.popup-container.show .popup {
  transform: translate(-50%, -50%) scale(1);
}
.popup-container.show + .result-container * {
  /* 0, 4px, and 1.5rem */
  /* filter: blur(4px); */
  filter: grayscale(100%);
  /* 0, 0.20, 60%, and 1 */
  /* filter: grayscale(60%); */
}
.close-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  padding: 1rem;
  border-radius: 50%;
  top: 2rem;
  right: 1rem;
  font-size: 6rem;
  color: red;
  cursor: pointer;
  background-color: transparent;
  border: none;

  transition: all 0.5s;
}
.close-btn:hover {
  background-color: red;
  color: white;
  transform: rotate(30deg);
}
@keyframes rotate {
  0% {
    transform: rotate(-20deg);
  }
  100% {
    transform: rotate(20deg);
  }
}
